.header {
  height: rem(80px);
  margin-bottom: rem(60px);
  padding: var(--mantine-spacing-xl);
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  user-select: none;
  color: black;
}